<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>图书列表</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
  <h2 class="title">图书管理列表</h2>
  <a href="/book/toAdd" class="btn btn-add">新增图书</a>

  <div class="table-box">
    <table>
      <tr>
        <th>ID</th>
        <th>书名</th>
        <th>作者</th>
        <th>价格</th>
        <th>分类</th>
        <th>操作</th>
      </tr>
      <tr th:each="book:${bookList}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.type}"></td>
        <td>
          <a th:href="@{/book/toUpdate(id=${book.id})}" class="btn btn-update">修改</a>
          <a th:href="@{/book/delete(id=${book.id})}" class="btn btn-delete" onclick="return confirm('确定删除？')">删除</a>
        </td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>